[Desktop Entry]
Type=Application
Version=1.0
Name=Badlion Launcher
Comment=Official Badlion Launcher
Exec=badlion
Icon=badlion
Terminal=false
Categories=Game;Application;
StartupWMClass=badlion
